/** ADD YOUR AWESOME CODES HERE **/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.coupon_box {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ae8547);
    width: 200px;
    border-radius: 7px;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-family: "Tahoma", sans-serif;
    position: relative;
    margin-left: 1rem auto;
}

.title {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 20px;
}

.how_much {
    font-size: 55px;
}
h3 {
    font-size: 35px;
}

.how_much,
h3 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.btn {
    padding: 0.5rem 3rem;
    background: #fff;
    border: none;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 600;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    transition: 250ms;
}
.btn:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.body {
    padding-bottom: 3rem;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    position: relative;
}
.body::before {
    content: "";
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    top: 0%;
    left: 5%;
    font-size: 150px;
    font-weight: bold;
}

.coupon_box::before,
.coupon_box::after {
    content: "";
    position: absolute;
    top: 65%;
    background: #fff;
    width: 20px;
    height: 30px;
    z-index: 1;
}
